.huffman-tree {
    margin: 1rem 0;
    width: 100%;
    box-shadow: rgb(0 0 0 / 16%) 0px 0px 0px 1px;
    background: var(--body-secondary-color);
    border: 2px solid var(--body-primary-color);
    border-radius: 1rem;
}

.huffman-tree .tree-content svg {
    width: 100%;
}

.huffman-tree .tree-content svg g {
    cursor: hand;
    user-select: none;
}

.huffman-tree .tree-content svg rect {
    transition: fill 0.25s;
}

.huffman-tree .tree-content svg line {
    transition: stroke 0.25s, stroke-width 0.25s;
}

.huffman-tree .tree-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid #b0b0b0;
    background-color: var(--body-primary-color);
    border-radius: 1rem 1rem 0 0;
}

.tree-content {
    border: 2px solid var(--body-scondary-color);
    margin: 0.5rem;
}

.tree-header .header-controls {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.tree-control-button {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

select {
    background: linear-gradient( -180deg, #ffdc73, #febf01);
    border: 3px solid #dca602;
    border-radius: 10px;
    padding: 4px 5px;
}